* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    z-index: 0;
    background-color: rgb(20, 23, 37);
    display: flex;
}

ul {
    list-style-type: none;
}

.menu {
    padding: 0%;
    text-align: center;
}

.menu li {
    display: inline-block;
    padding: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: azure;
}

a:visited {
    color: azure;
}

img.logo {
width: 80px;
margin: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color:rgb(20, 23, 37);
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 3px solid azure;
    z-index: 1;
}

#body-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15%
}

#header{
    text-align: center;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-size: 2em;
}

#articles {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.cards{
    border: 2px solid rgb(72, 72, 72);
    border-radius: 10px;
    box-shadow: 7px 5px 5px rgb(15, 15, 15);
    margin: 50px;
    text-align: center;
    width: 500px;
}

.cards img{
    width: 100%;
}

.cards p{
    text-align: justify;
    margin: 20px;
}

.cards p.justify-end{
    text-align: end;
}

.button{
    background-color: rgb(143, 143, 143);
}

.button::after{
    content: "img";
    padding: 0 10px 0 10px;
}
