* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    z-index: 0;
}

ul {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 15px;
}

a:visited {
    color: black;
}

img.logo {
width: 80px;
margin: 15px;
}

header{
    width: 100%;
}

#header{
width: 100%;
height: 400px;
position: relative;
text-align: center;
background-image: url("Header.jpg");
background-size: cover;
background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: rgb(161, 99, 32);
    background-image: url("nav.png");
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.tableau{
    position: relative;
}

section#articles{
    margin: 50px;
}

.cards{
    border: 2px solid rgb(72, 72, 72);
    box-shadow: 7px 5px 5px rgb(177, 172, 172);
    margin: 50px;
    text-align: center;
}

.cards img{
    width: 100%;
}

.cards p{
    text-align: justify;
    margin: 20px;
}

.cards p.justify-end{
    text-align: end;
}

.button{
    background-color: rgb(143, 143, 143);
}

.button::after{
    content: "img";
    padding: 0 10px 0 10px;
}
