* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    z-index: 0;
    background-color: rgb(20, 23, 37);
    display: flex;
    color: rgb(230, 230, 230);
}

p {
    color: aliceblue;
    text-align: justify;
    font-size: 1em;
    margin: 15px;
}

.btn {
    border-radius: 30px;
    border: 2px solid rgb(230, 230, 230);
    padding: 15px;
    transition: 0.5s ease;
}

ul {
    list-style-type: none;
}

.menu {
    padding: 0%;
    text-align: center;
}

.menu li {
    display: inline-block;
    padding: 30px 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: azure;
}

a:visited {
    color:  rgb(230, 230, 230);
}

a:hover {
    background-color: rgb(230, 230, 230);
    color :rgb(20, 23, 37);
    box-shadow: 3px 5px 15px rgb(238, 238, 238);
    transition: 0.5s ease;
    font-weight: bold;
}

img.logo {
    width: 80px;
    margin: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color:rgb(20, 23, 37);
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 3px solid azure;
    z-index: 1;
}

#body-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15%;
    width: 100%;
}

#header{
    text-align: center;
    width: 100%;
    height: 120px;
    position: relative;
    border-bottom: 2px rgb(230, 230, 230) solid;
    /*background-image: url('Article1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 30%;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 3em;
}

.typewriter h1 {
    color: rgb(238, 238, 238);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 72, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(30, end),
      blink-caret .9s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:rgb(255, 72, 0)}
  }

#articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#articles  .btn {
    border-radius: 30px;
    border: 2px solid rgb(230, 230, 230);
    padding: 5px 15px;
    transition: 0.5s ease;
}

#articles .btn:after{
    content: "img";
    padding: 0 10px 0 10px;
}

.big-cards{
    width: 500%;
    position: relative;
    margin: 50px;
}

.big-cards > div {
    position: relative;
    border: 2px solid rgb(72, 72, 72);
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(230,230,230,0.5);
    text-align: center;
    width: 95%;
    padding-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.big-cards::after{
    content: "";
    position: absolute;
    right: -30px;
    top: 10px;
    border: 1px rgb(230, 230, 230) solid;
    height: 600px;
}

h2 {
    margin: 5px;
}


.justify-end{
    text-align: end;
}

.big-cards .img-cards {
    width: 100%;
}

.small-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    margin: 2px;
    text-align: center;
}

.small-cards p {
    font-size: 0.8em;
    margin: 20px;
}

.cards{
    border: 2px solid rgb(72, 72, 72);
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(230,230,230,0.5);
    margin: 25px;
    width: 40%;
    height: auto;
    overflow: hidden;
}

.small-cards .img-cards{
    width: 105%;
}

.small-cards .Article5 {
    width: 180%;
}

.cards-img {
    width: 100%;
    height: 110px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

